#image-container {
    display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
    gap: 2px;
    margin: 20px auto;
    width: 304px;
    border: 2px solid black;
}


body {
    text-align: center;
    font-family: Arial, sans-serif;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: 20px auto;
    width: 310px;
}
.gallery img {
    width: 100px;
    height: 100px;
    cursor: grab;
}
#message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
