
body {
    min-height: 4096px; 
    margin: 0;
    font-family: Arial, sans-serif;
}


footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 40px; 
    background-color: #2525df; 
    transition: background-color 0.25s ease; 
}

footer.scrolled {
    background-color: #FF0000; 
}
